* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.row.bottom_line {
  position: relative;
  padding-bottom: 35px;
}

.row.bottom_line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
  width: 35%;
  height: 1px;
  background: #252525;
  content: '';
}

body {
  margin: 0;
  padding: 0;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #252525;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  overflow: hidden;
  -webkit-animation: main_loader .5s linear forwards alternate;
          animation: main_loader .5s linear forwards alternate;
}

@-webkit-keyframes main_loader {
  0% {
    top: 0;
    opacity: .6;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    top: 100%;
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    width: 100%;
    height: 0px;
  }
}

@keyframes main_loader {
  0% {
    top: 0;
    opacity: .6;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    top: 100%;
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    width: 100%;
    height: 0px;
  }
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

header menu {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
}

header menu .menu_control {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}

header menu .menu_control button {
  border: 0;
  outline: 0;
  padding: 7px 5px;
  width: 35px;
  height: 45px;
  background: #252525;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

header menu .menu_control button span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 70%;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #ffffff;
}

header menu .menu_control button span:nth-child(1) {
  top: 35%;
}

header menu .menu_control button span:nth-child(1).active {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: .5s linear animate_span1;
          animation: .5s linear animate_span1;
}

@-webkit-keyframes animate_span1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes animate_span1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}

header menu .menu_control button span:nth-child(2).active {
  left: 150%;
  opacity: 0;
}

header menu .menu_control button span:nth-child(3) {
  top: 65%;
}

header menu .menu_control button span:nth-child(3).active {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: .5s linear animate_span3;
          animation: .5s linear animate_span3;
}

@-webkit-keyframes animate_span3 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(-1turn);
            transform: translate(-50%, -50%) rotate(-1turn);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes animate_span3 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(-1turn);
            transform: translate(-50%, -50%) rotate(-1turn);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (min-width: 990px) {
  header menu .menu_control {
    display: none;
  }
}

header menu .menu_ul {
  background: #252525;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header menu .menu_ul.toggleLeftSlide {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  pointer-events: visible;
}

header menu .menu_ul li {
  padding: 0 25px;
}

header menu .menu_ul li a {
  color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

header menu .menu_ul li a i {
  display: inline-block;
  width: 30px;
}

header menu .menu_ul li a.active {
  color: #ffb400;
}

header menu .menu_ul li:last-child a {
  border-bottom: none;
}

@media (min-width: 992px) {
  header menu .menu_ul {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    pointer-events: visible;
    background: transparent;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: auto;
    right: 0;
    margin-left: auto;
    width: 225px;
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  header menu .menu_ul li {
    text-align: right;
  }
  header menu .menu_ul li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 180px;
    height: 45px;
    padding: 0 !important;
    margin-bottom: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    overflow: hidden;
    font-size: 12px;
  }
  header menu .menu_ul li a span {
    background: #ffb400;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    line-height: 45px;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
    border-radius: 30px;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
    padding-right: 45px;
  }
  header menu .menu_ul li a i {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 45px;
    height: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
    position: relative;
    color: #ffffff;
    border-radius: 30px 0 0 30px;
    -webkit-transition: .5s;
    transition: .5s;
    border: none;
  }
  header menu .menu_ul li a i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B2A2A;
    border-radius: 30px;
    z-index: -1;
  }
  header menu .menu_ul li a.active i {
    color: #ffffff !important;
  }
  header menu .menu_ul li a.active i::after {
    background: #ffb400;
  }
  header menu .menu_ul li a:hover {
    color: #ffffff !important;
  }
  header menu .menu_ul li a:hover span {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
    opacity: 1;
  }
  header menu .menu_ul li a:hover i {
    color: #ffffff;
  }
  header menu .menu_ul li a:hover i::after {
    -webkit-transition: .5s;
    transition: .5s;
    background: #ffb400;
  }
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  min-height: 100vh;
  background: #111111;
  z-index: -1;
  pointer-events: visible;
  overflow-y: auto;
}

@media (max-width: 991px) {
  main {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

main #home_section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-animation: 1s ease home_section forwards;
          animation: 1s ease home_section forwards;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  overflow: hidden;
}

@-webkit-keyframes home_section {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes home_section {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

main #home_section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 250vh solid;
  -webkit-transform: translateX(-950px) rotate(16deg);
          transform: translateX(-950px) rotate(16deg);
  border-color: transparent transparent transparent #ffb400;
  z-index: -1;
}

@media (max-width: 991px) {
  main #home_section::before {
    display: none;
  }
}

main #home_section .row {
  height: 100%;
  padding: 40px;
}

main #home_section .row .profile_img {
  height: 90vh;
}

main #home_section .row .profile_img .bg_image {
  width: 90%;
  height: 100%;
  border-radius: 30px;
  background: url("../img/2.jpg") center/cover no-repeat;
}

@media (max-width: 991px) {
  main #home_section .row .profile_img {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #252525;
    overflow: hidden;
  }
  main #home_section .row .profile_img .bg_image {
    width: 100%;
    height: 100%;
    background: url("../img/2.jpg") center/cover no-repeat;
  }
}

main #home_section .row .content_home {
  color: #ffffff;
}

@media (max-width: 991px) {
  main #home_section .row .content_home {
    text-align: center;
    margin: 15px 0;
  }
}

main #home_section .row .content_home h1 {
  font-size: 45px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

main #home_section .row .content_home h1 span {
  color: #ffb400;
}

@media (max-width: 991px) {
  main #home_section .row .content_home h1 {
    font-size: 30px;
  }
}

main #home_section .row .content_home h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

@media (max-width: 991px) {
  main #home_section .row .content_home h3 {
    display: none;
  }
}

main #home_section .row .content_home strong {
  display: inline-block;
  width: 60%;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 15px;
  font-size: 15px;
}

@media (max-width: 991px) {
  main #home_section .row .content_home strong {
    width: 100%;
  }
}

main #home_section .row .content_home .about_it a {
  background: #ffb400;
  color: #ffffff;
  width: 190px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

main #home_section .row .content_home .about_it a i {
  display: inline-block;
  width: 0px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

main #home_section .row .content_home .about_it a:hover i {
  opacity: 1;
  width: 30px;
  height: 30px;
}

@media (max-width: 991px) {
  main #home_section .row .content_home .about_it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

main #about_section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-animation: 1s ease home_section forwards;
          animation: 1s ease home_section forwards;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@keyframes home_section {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

main #about_section .section_title {
  margin: 0;
  padding: 40px;
}

main #about_section .section_title h2 {
  font-size: 100px;
  text-align: center;
  color: #252525;
  letter-spacing: 12px;
  position: relative;
  margin: 0;
  padding: 0;
}

main #about_section .section_title h2 span {
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 900;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #about_section .section_title h2 span b {
  color: #ffb400;
}

main #about_section [class*=container] {
  color: #ffffff;
}

main #about_section [class*=container] h3 {
  font-size: 27px;
}

main #about_section [class*=container] ul.list_order li {
  margin: 0;
  padding: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.9);
}

main #about_section [class*=container] .btn_hover_axis {
  background: #ffb400;
  color: #ffffff;
  width: 190px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

main #about_section [class*=container] .btn_hover_axis i {
  display: inline-block;
  width: 0px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

main #about_section [class*=container] .btn_hover_axis:hover i {
  opacity: 1;
  width: 30px;
  height: 30px;
}

main #about_section [class*=container] ul.list_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main #about_section [class*=container] ul.list_box li {
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 44%;
  height: 170px;
  border-radius: 5px;
  margin: 3%;
  padding: 35px;
}

@media (min-width: 900px) and (max-width: 1220px) and (max-width: 600px) {
  main #about_section [class*=container] ul.list_box li {
    width: 46%;
    height: 170px;
    margin: 2%;
    padding: 15px;
  }
}

@media (max-width: 600px) {
  main #about_section [class*=container] ul.list_box li {
    width: 46%;
    height: 170px;
    margin: 2%;
    padding: 15px;
  }
}

main #about_section [class*=container] ul.list_box li strong {
  font-size: 45px;
  color: #ffb400;
  display: block;
  position: relative;
}

main #about_section [class*=container] ul.list_box li strong sup {
  font-size: 28px;
  color: currentColor;
  margin-left: -5px;
  font-weight: bolder;
}

main #about_section [class*=container] ul.list_box li span {
  margin-left: 55px;
  display: block;
  position: relative;
  margin-top: 5px;
  line-height: 25px;
}

@media (min-width: 900px) and (max-width: 1220px) {
  main #about_section [class*=container] ul.list_box li span {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  main #about_section [class*=container] ul.list_box li span {
    font-size: 13px;
    line-height: 20px;
  }
}

main #about_section [class*=container] ul.list_box li span::before {
  content: '';
  width: 40px;
  height: 1px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 5px;
  left: -55px;
}

main #about_section [class*=container] #skills_row {
  text-align: center;
}

main #about_section [class*=container] #skills_row .circles-text {
  font-size: 30px !important;
}

main #about_section [class*=container] #experience_row h3 {
  text-align: center;
}

main #about_section [class*=container] #experience_row .wrapper_col {
  position: relative;
  padding-left: 40px;
  border-left: 1px solid #252525;
}

main #about_section [class*=container] #experience_row .wrapper_col::before {
  content: attr(data-content);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 17px;
  width: 40px;
  height: 40px;
  background: #ffb400;
  color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: -20px;
}

main #about_section [class*=container] #experience_row .wrapper_col time {
  font-size: 13px;
  border-radius: 15px;
  background: #252525;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  margin: 0;
  padding: 3px 7px;
}

main #about_section [class*=container] #experience_row .wrapper_col .head_name h4 {
  position: relative;
}

main #about_section [class*=container] #experience_row .wrapper_col .head_name h4::after {
  content: attr(data-content);
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: lighter;
  padding-left: 4px;
}

main #about_section [class*=container] #experience_row .wrapper_col p {
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */